body {
    background-color: #7f0920;
    color: #0a0408;
    text-align: center;
    font-size: 1.4em;
}

#langChanger{
    position: absolute;
    right: 10px;
    border-radius: 7px;
    border: 0px;
    cursor: pointer;
    transition: .3s;
    color: #7f0920;
    background-color: #0a0408;
    border: 1px solid #0a0408;
    font-size: .9rem;
}

#langChanger:hover{
    color: #0a0408;
    background-color: #7f0920;
}

#appTitle {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Staatliches', sans-serif;
    border: 3px solid black;
    border-radius: 20px;
    max-width: fit-content;
    padding: 1%;
    margin-bottom: 1%;
}

#genreForm, #playBtn {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Fredoka One', sans-serif;
}


#movieInfo {
    width:  65%;
    margin:  10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    transition-duration: .4s;
    border-radius: 20px;
}

#movieInfo:after {
    content:  "";
    display:  table;
    clear:  both;
    padding: 0;
}

#moviePoster{
    max-height: 400px;
}

#moviePoster, #movieText {
    width:  50%;
    float:  left;
    margin: 10px;
    max-width: 300px;
    min-width: 300px;
    font-size: 1.3rem;
}

img#moviePoster {
    width:  100%;
    height:  auto;
    display:  block;
    margin:  auto;
}

#movieText {
    font-family: 'Questrial';
    color: #FEFBEA;
    line-height: 1.25;
}

#movieTitle{
    margin: 1%;
}

#playBtn {
    margin-top: 20px;
    padding: 7px 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #B97828;
    color: #fdc238;
    cursor:  pointer;
    font-size: 1.5rem;
    transition-duration: .4s;
}

#playBtn:hover{
    background-color: #fdc238;
    color: #B97828;  
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 200px;
    height: auto;
}

#likeOrDislikeBtns {
    text-align: center;
    margin: 0px auto;  
}

#likeBtn, #dislikeBtn {
    padding: 15px 25px;
    border-radius: 12px;
    border-style: none;
    cursor:  pointer;
    transition-duration: .4s;
}

#likeBtn {
    background-color: #249e57;
    color: darkgreen;
    border: 1px solid #249e57;
}

#likeBtn:hover {
    background-color: darkgreen;
    color: #249e57;
}

#dislikeBtn {
    background-color: #c74a4a;
    color: #910000;
    border: 1px solid #c74a4a;
}

#dislikeBtn:hover {
    background-color: #910000;
    color: #c74a4a;
    border: 1px solid #c74a4a;
}